@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    background: #2d3e4e;
    color: #e8eceb;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav .logo{
    line-height: 30px;
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 5px;
    cursor: pointer;
    transform: translateY(5px);
}

nav ul li{
    display: inline-block;
    padding: 0 7px;
    transform: translateY(-20px);
    color: #e8eceb;
    cursor: pointer;
}

nav ul li a{
    color: #e8eceb;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.navbar .menu li:hover{
    background: #e8eceb;
    color:#2d3e4e;
}





